<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlugIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ACD91FB1DAC7C19005D92DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ACD920F1DAC7C1A005D92DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ACD921A1DAC7C1B005D92DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
